<mat-card class="chart">
    <mat-card-title class="chart__header">
        <p class="chart__title">Lottery Chart</p>
        <div class="chart-legend">
            <div class="chart-legend__item">
                <div class="chart-legend__icon blue"></div><span class="chart-legend__title">Ticket Sold</span>
            </div>
            <div class="chart-legend__item">
                <div class="chart-legend__icon light-blue"></div><span class="chart-legend__title">Total Ticket</span>
            </div>
        </div>
    </mat-card-title>

    <mat-card-content class="chart__content">
        <div #chart class="chart__content-item"></div>
    </mat-card-content>
</mat-card>